Checks: '-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,modernize-*,performance-*,portability-*,readability-*,-readability-identifier-length'
WarningsAsErrors: '*'
FormatStyle: file
HeaderFileExtensions: ['', 'h', 'hpp']
HeaderFilterRegex: '.*\.h??$'
ImplementationFileExtensions: ['cpp', 'cppm']